/* CSS reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body */
body {
    align-items: center;
    background-color: #101010;
    color: #fff;
    display: flex;
    font-family: Arial, sans-serif;
    height: 100vh;
    justify-content: center;
    margin: 0;
}

/* Form */
form {
    border-radius: 1rem;
    margin: 0 auto;
    margin-top: 1rem;
    max-width: 30rem;
    padding: 2rem;
}

/* Form fields */
input[type="text"] {
    background-color: #303030;
    border: none;
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0.5rem rgba(255, 255, 255, 0.1);
    color: #fff;
    display: block;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
}

/* Buttons */
a,
button,
.button {
    background: -webkit-linear-gradient(#ff1b43,#be0000);
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.2);
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    text-decoration: none;
    width: 100%;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #c50000;
}

/* Typography */
h1,
h2,
p {
    font-size: 2rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    max-width: 90%;
    text-align: center;
}

/* Media queries */
@media screen and (min-width: 768px) {
    form {
        margin-top: 2rem;
    }
}
